.page {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;

  & svg {
    margin: 0 auto 50px;
  }

  & .container {
    max-width: 754px;
    margin: 0 auto;
    display: flex;
  }
}
